Flask
Flask-CORS
opencv-python
numpy
torch==2.1.0
torchvision==0.16.0
ultralytics
SQLAlchemy
PyMySQL
redis
requests
loguru
Pillow
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Migrate
Flask-SocketIO
PyJWT
Werkzeug
lap
mysqlclient
plotly
pandas
tenacity
packaging
shapely
